[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "sources_non_forked/vim-flake8"]
	path = sources_non_forked/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "sources_non_forked/rust.vim"]
	path = sources_non_forked/rust.vim
	url = https://github.com/rust-lang/rust.vim
